@charset "utf-8";

// css framework
@use "bulma/bulma";
@use "bootstrap-icons/font/bootstrap-icons.css";
@use "buefy/dist/buefy.css";
@use "vue-swatches/dist/vue-swatches.css";

* {
  box-sizing: border-box;
}
.has-text-middle {
  vertical-align: middle;
}

.has-shadow {
  box-shadow: 0 2px 0 0 #f5f5f5;
}

.x-divider {
  height: 2px;
  width: 100%;
  background-color: #f5f5f5;
}

.verms__input {
  width: 180px;
}

// icons
// @import "@fortawesome/fontawesome-free/scss/brands";
// @import "@fortawesome/fontawesome-free/scss/regular";
// @import "@fortawesome/fontawesome-free/scss/solid";
// @import "@fortawesome/fontawesome-free/scss/fontawesome";
